<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Resultado de Predicción</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/info.css" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  
 </head>
</head>
<body>

<div class="container mt-5" >
    <h1 class="h1">Informacion</h1>
<div >
    <pre>{{ contenido }}</pre>
</div>    

    <a href="{{ url_for('index') }}" class="btn btn-outline-dark btn_title btn_volver">página principal</a>
</div>

</body>
</html>
