<!-- templates/resultado.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Resultado de Predicción</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/resultado.css" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">

</head>

<body>

<div class="container mt-5">
    <h1 class="h1">Resultado de Predicción</h1>

    {% if color == 'si' %}
    <h2 class="result" style="color: crimson;">{{ result }}</h2>
    {% else %}
    <h2 class="result" style="color: royalblue;">{{ result }}</h2>
    {% endif %}
    <div class="container explication" style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
        <div class="pronostico" >{{pronostico}}</div>
        <div class="acierto" >Confianza de la predicción: {{acierto}}% </span></div>
        <a href="{{ url_for('index') }}" class="btn btn-outline-dark btn_title btn_volver">Verificar nuevo estudio</a>
    </div>
</div>

</body>
</html>
